@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic-ext');

html,
body {
    height: 100%;
color: #FFFFFF;
}

.table {
    width: 99%;
}

.panel {
    font-size: 12px;
}

ul.nav.nav-tabs li a {
    background-color: #c4c4c4;
}

ul.nav.nav-tabs li.active a {
    background-color: #fff;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: transparent;
    height: 890px;
    margin: 0 auto -60px;
    padding: 280px 0 60px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


#imaginary_container {
    /*margin-top:20%; *//* Don't copy this */
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

/* add course*/
a.fix_add {
    position: fixed;
    right: 30px;
    bottom: 60px;
    width: 50px;
    height: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DA4F4F;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(198, 55, 55, 0.9);
    transition: all .3s linear;
    -webkit-animation: toTop 1s linear infinite;
    animation: toTop 1s linear infinite;
}

a.fix_add:hover {
    box-shadow: none;
    background-color: #DF3131;
}

a.fix_add svg {
    font-size: 25px;
    color: #fff;
}

@-webkit-keyframes toTop {

    0% {
        bottom: 65px;
    }
    5% {
        bottom: 65px;
    }
    15% {
        bottom: 75px;
    }
    30% {
        bottom: 65px;
    }
    55% {
        bottom: 70px;
    }
    70% {
        bottom: 65px;
    }
    100% {
        bottom: 65px;
    }
}

@keyframes toTop {

    0% {
        bottom: 65px;
    }
    5% {
        bottom: 65px;
    }
    15% {
        bottom: 75px;
    }
    30% {
        bottom: 65px;
    }
    55% {
        bottom: 70px;
    }
    70% {
        bottom: 65px;
    }
    100% {
        bottom: 65px;
    }
}

/* ---*/
/*container вопросов*/
.question-container {
    margin: 3% auto;
    /*width: 700px;*/
}

/**/

/*container ссылки*/
.link-container {
    margin: 0% auto;
    width: 700px;
}

/**/

/*container ссылки*/
.profile-container {
    margin: 0% auto;
    width: 700px;
}

/**/

hr.line {
    width: 75%;
    margin: 15px auto;
    background-color: #fff;
    height: 4px;
}


.top-info {
    color: white;
    text-align: left;
    line-height: 1.2;
}

.top-info b {
    font-size: 13px;
    font-weight: 600;
}


.bottom-info b {
    font-size: 20px;
    font-weight: 700;
}

.bottom-info p {
    font-size: 11px;
    font-weight: 700;
}

.company {
    margin-top: 30px;
    text-align: center;
    color: white;
    padding-bottom: 20px;

}

.col-bottom {
    margin-bottom: 30px;
}

.desc-info {
    width: 100%;
    height: 200px;
    position: relative;
    overflow-y: auto;
}

.top-non {
    border-top: none;
    border-radius: 5px;

}

.search-form {
    font-size: 25px;
    position: absolute;
    top: 220px;
    left: 740px;
    background-color: #D9EDF7;
    padding: 5px;
    opacity: 0.5;
}

.img-cen {
    width: 100%;
    height: 250px;
    position: relative;
}

.test-count {
    list-style-type: none;
    margin: 0;
}

/*.test-count li {
  
}
.test-count li > span >a {
   display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    color: white;
    border: 1px solid white;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    padding-left: 0;

}*/

.test_button {
    margin-left: -40px;
    color: white;
    border: 1px solid white !important;
    width: 45px;
}

.next-bot {
    background-color: #95B75D;
    padding: 5px 15px;
    position: absolute;
    bottom: 10px;
    left: 700px;
    border-radius: 3px;
}

.next-bot a {
    color: white;
    font-size: 15px;
}

.loading-pres {
    width: 90%;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    border: 1px solid white;
    margin: 0 10px;
}

.present-lod {
    position: absolute;
    bottom: 50px;
    left: 0;
    color: white;
    margin-left: 10px;
}

.modal {
    z-index: 1080 !important;
}

/*Header----------------------------------*/
#header-dark {

    height: 480px;
    font-family: 'Roboto';
}

#header-index {
    background-image: url("/img/home-fon.png");
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Roboto';
}

#header-index h1 {
    font-size: 3.667em;
    color: rgb(32, 36, 59);
}

#header-index p {
    font-size: 1.833em;
    color: rgb(32, 36, 59);
    line-height: 1.636;
    padding-top: 20px;
}

.get-consultation {
    display: block;
    font-size: 1.33em;
    background-color: #a58f73;
    padding: 15px 10px;
    border-radius: 24px;
    border: 1px solid #a58f73;
    color: #ffffff !important;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin-top: 80px;
}

.we-apartamio {
    padding-top: 200px;
    font-size: 2em;
    color: rgb(165, 143, 115);
    text-transform: uppercase;
    line-height: 3.75;
}

#header-page {
    background-image: url("/img/header2.png");
    height: 480px;
    font-family: 'Roboto';
}

#top-header {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

#top-header a, #top-header span {
    margin: 0px 6px;
    color: rgb(182,192,210);

}

#top-head-phone {
    border-radius: 20px;
    border: #a58f73 solid 2px;
    padding: 6px 8px;
    color: #a58f73;
}

#top-menu {
    margin-top: 20px;
    font-size: 1.25em;
    font-weight: bold;
}

#top-menu a {
    padding: 2px 15px;
}

.menu-active {
    color: #a58f73 !important;
}

#top-menu a:last-child {
    padding-right: 0px;
}

a:active, a:link {
    color: rgb(189,192,210);
}

a:visited {
    color: rgb(189,192,210);
}

.font-weight-bold {
    font-weight: bold;
}

/*------------*/
.site-objects {
    font-family: 'Roboto';
    width: 100%;
}

/*------------*/
#object-breadcrumbs a {
    color: #a58f73;
    font-size: 1.166em;
}

#object-breadcrumbs a:first-child {
    color: rgb(123, 123, 123);
    font-size: 1.166em;
}


/*------------*/
.image-znak {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#object-head {
    padding-bottom: 10px;
    padding-top: 10px;

}

#object-breadcrumbs {
    padding-left: 10px;
    padding-bottom: 50px;
}
.head1 {
    padding-left: 10px;
}

.head1 span{
    font-size: 3.33em;
    font-weight: bolder;
}

/*------------*/
#object-filter {
    padding: 20px 20px;
    font-size: 1.33em;
    border-radius: 15px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
    height: 70px;
    background-color: #ffffff;
    width: max-content;
}

/*------------*/
#object-list {
    padding-top: 40px;
    padding-bottom: 20px;
}

.object-list-item {
    padding: 0px 20px;
}

.article-item, .object-item {
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 17px 46px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    background-color: rgb(53,58,86);
}

.object-list-item div {
    padding: 8px 0px 8px 0px;
}

.object-metro {
    color: #20243b !important;
    padding: 8px 0px 8px 0px;
    font-size: 2.5em;
    font-weight: bold;
}

.object-metro:hover {
    color: #a58f73 !important;
    padding: 8px 0px 8px 0px;
    font-size: 2.5em;
    font-weight: bold;
}

.object-detail {
    color: #20243b !important;
    font-size: 1.33em;

}

.object-detail:hover {
    color: #a58f73 !important;
    font-size: 1.33em;
}

.object-short_description {
    font-size: 1.5em;
    color: rgb(71, 75, 98);
}

.object-address {
    padding: 6px 0px 6px 0px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(32, 36, 59);
}

.object-studio span:first-child {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(32, 36, 59);
}

.object-studio span:last-child {
    font-size: 1.5em;
    color: #a58f73;
}

.object-details {
    font-size: 1.33em;

}

.filter-input1 {
    border-radius: 22px;
    padding-left: 8px;
    padding-right: 8px;
    width: 60px;
    text-align: center;
}

.filter-input2 {
    border-radius: 22px;
    padding-left: 8px;
    padding-right: 8px;
    width: 120px;
    text-align: center;
}

.r-brown {
    color: #a58f73;
}

.r-blue {
    color: #20243b;
}

.r-grey {
    color: #656771;
}

/*------------------*/
#fon1 {
    background-image: url("/img/fon1.png");
    background-position-x: 0px;
    background-position-y: -150px;
    background-size: cover;
}

#fon2 {
    background-image: url("/img/fon2.png");
    background-position-x: 0px;
    height: 950px;
}

#about-fon {
    background-image: url("/img/about-fone.png");
    background-position-x: 0px;
    background-position-y: 0px;
}

/*------------------------------------------------------------------*/
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 50%;
    border-color: #0f0f0f;
}

.pagination > li.active > a, .pagination > li.active > a:hover {
    background: #a58f73;
    color: #FFF;
    border-color: #a58f73;
    border-radius: 50%;
}

.pagination > li > a, .pagination > li > span {
    border-radius: 50%;
    border-color: #0f0f0f;
}

.pagination {
    padding-left: auto;
    padding-right: auto;
    width: auto;
}

/*--------------------*/
#object-call {
    margin-right: 10px;
    margin-top: 220px;
    padding: 44px 50px;
    border: 1px solid #000000;
    width: 615px;
    height: 680px;
    border-radius: 20px;
    background-color: rgb(53,58,86);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    background-image: url("/img/catalog-fone-dark.png");
    background-position-x: -50px;
    background-position-y: -50px;
}

#object-call h3 {
    line-height: 1.333;
    font-size: 2.5em;
    color: rgb(32, 36, 59);
}

.submit-email2 {
    background-color: #a58f73;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #a58f73;
    color: #ffffff;
    font-weight: bold;
    width: 100%;

}


.form-control-feedback {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

/*-----------------------*/
.imgCenter {
    display: block;
    margin: 15px auto 25px;
}

.instagram-item {
    padding: 1px;
}

.iagree {
    padding: 20px 0px;
}

.iagree a {
    color: #a58f73;
    text-decoration: underline;
}

/*----------------------------------------*/
.footer {
    color: rgb(189,192,210);
}

.footer h4 {
    font-size: 1.667em;
    line-height: 1.6;
    padding-bottom: 5px;
    color: rgb(189,192,210);

}

.footer h3 {
    font-size: 2em;
    line-height: 1.333;
    text-align: left;
    color: rgb(189,192,210);
}

.footer p {
    font-size: 1.333em;
    line-height: 1.625;
}

.footer a {
    line-height: 1.7;
}

.footer a:hover {
    color: #8a6d3b;
    text-decoration: underline;
}

.footer li {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.214;

}

.footer ul {
    padding-inline-start: 18px;
    list-style-image: url('/img/list-image.png');
}

.footer-contact div {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.614;
    margin-bottom: 15px;
}

.submit-email3 {
    background-color: #a58f73;
    padding: 14px 10px;
    border-radius: 24px;
    border: 1px solid #a58f73;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

.input-email3 {
    padding: 14px 30px;
    border-radius: 20px;
    border: 1px solid #a58f73;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

.form-control-feedback2 {
    position: absolute;
    top: 6px;
    right: 10px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.footer-subscribe {
    color: rgba(32, 36, 59, 0.5);
    padding: 0px 10px !important;
}

.footer-nav {
    padding-left: 90px !important;
}

.footer-contact {
    padding-left: 30px !important;
}

.footer-subscribe {
    padding-left: 20px !important;
}

.footer-soc {
    color: rgb(182, 192, 210);
    font-size: 1.33em;
    font-weight: bold;
    padding-right: 65px;
}
.footer-soc {

    font-size: 1.6em;

}
.copyrigth {
    color: rgb(182,192,210);
    font-weight: 1.33em;
}

.footer-condent {
    text-align: center;
    font-size: 1.33em;
    color: rgba(182,192,210,0.5);
}
/*-------------------------*/
.article-right {
    padding-left: 60px !important;
}
.article-category {
    background-color: #FFFFFF;

}

.search-article input {
    padding: 14px 30px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    font-size: 1.33em;
    width: 100%;
    margin-bottom: 10px;
}

.article-category h3, .article-new h3, .article-tags h3 {
    font-size: 2em;
    color: rgb(32, 36, 59);
    line-height: 1.33;
    background-color: #FFFFFF;
    margin-top: 45px;
}

.article-new-item {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(123, 123, 123);
}

.article-new-item a {
    font-size: 1.667em;
    color: rgb(32, 36, 59);
    line-height: 1.5;
    background-color: #FFFFFF;
    font-weight: bold;
}

.article-new-item div {
    font-size: 1.3em;
    color: rgb(32, 36, 59);
    line-height: 1.875;
    background-color: #FFFFFF;
    font-weight: 200;
}

.article-category-item {
    font-size: 1.5em;
    color: rgb(123, 123, 123);
    line-height: 2.678;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(123, 123, 123);
}

.article-category-item:last-child {

    border-bottom: none;
}

.article-category-item a {
    color: rgb(123, 123, 123);
}

.article-date {
    font-size: 1.1667em;
    color: rgb(123, 123, 123);
    line-height: 2.678;
    background-color: #FFFFFF;
}

.article-name {
    font-size: 1.5em;
    color: rgb(36, 36, 59);
    font-weight: bold;
    line-height: 1.2;
    height: 76px;
    overflow: hidden;
}

.article-name a:hover {
    color: rgb(165, 143, 115);
}

.article-short_description {
    font-size: 1.333em;
    color: rgb(71, 75, 98);
    line-height: 1.5;
    height: 80px;
    overflow: hidden;
}

/*----------------------------*/


/*-------------------map-block---------------------*/
#map-fon {
    background-position-x: 0px;
    padding-top: 120px;
}


/*---------about-------------------*/
.site-about {
     background-position-x: 0px;
    background-repeat: no-repeat;
}

.site-about h3 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    line-height: 1.33;
}

.site-about p {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    padding-top: 25px;
}

.about2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-img {
    position: absolute;
    display: block;
    top: -100px;
}

.about-img2 {
    margin-right: 50px;
    float: left;
}

/*-----------------team-------------------------*/
.team-info-ico {
    display: block;
    z-index: 10;
    position: absolute;
    left: 105px;
    top: 325px;
    cursor: pointer;
}

.team-name {
    text-align: center;
    font-size: 2.5em;
    color: rgb(32, 36, 59);
    font-weight: bold;
    padding: 10px 0px;
}

.team-work {
    text-align: center;
    font-size: 1.33em;
    color: rgb(71, 75, 98);
}

#team-fon {
    background-image: url("/img/team-fon.png");
    background-position-x: right;
    padding-top: 45px;
    min-height: 1050px;
    margin-top: 90px;
}

.team-info {
    border-radius: 8px;
    padding: 35px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 17px 46px 0px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 10;
    position: absolute;
    left: 130px;
    top: 320px;
    width: 265px;
    height: 243px;


}

.team-info-name {
    font-size: 1.6em;
    color: rgb(32, 36, 59);
    font-weight: bold;
    line-height: 1.2;
}

.team-info-work {
    font-size: 1.333em;
    color: rgb(71, 75, 98);
    line-height: 1.5;
}

.team-info-viver, .team-info-phone, .team-info-email {
    font-size: 1.25em;
    color: rgb(32, 36, 59);
    font-weight: bold;
    line-height: 3;
}

/*----------------------catalog-------------*/
#catalog-fon {
    height: 925px;
}

/*--------------------contact---------------------------*/
/*---------about-------------------*/
.site-contact {
    background-image: url("/img/about-fon.png");
    background-position-x: 0px;
    background-repeat: no-repeat;
}

.site-contact h4 {
    font-size: 2em;
    color: rgb(32, 36, 59);
    line-height: 1.33;
    background-color: #FFFFFF;
}

.site-contact h3 {
    font-size: 2.5em;
    color: rgb(32, 36, 59);
    line-height: 1.33;
    background-color: #FFFFFF;
    text-align: center;
}

.site-contact p {
    font-size: 1.5em;
    color: rgb(71, 75, 98);
    line-height: 1.667;
    background-color: #FFFFFF;
    padding-top: 25px;
}

.contact-brown {
    font-size: 18px;
    color: rgb(165, 143, 115);
    line-height: 1.667;
}

.contact-info {
    font-size: 1.667em;
    font-weight: bold;
}

.contact-form-fon {
    background-image: url("/img/contact-form-fon.png");
    background-position-x: left;
    background-position-y: top;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 17px 46px 0px rgba(0, 0, 0, 0.1);
    height: 667px;
    width: 100%;
    margin-top: 50px;
}

.contact-form {
    margin: 50px auto;
    width: 730px;
}

.contact-form p {
    font-size: 1em;
    padding-top: 0px;
}

.contact-form input {
    border-width: 2px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-radius: 25px;
    padding: 24px;
    vertical-align: center;
}

.contact-form textarea {
    border-width: 2px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-radius: 25px;
    padding: 24px;
    vertical-align: center;
    height: 185px;
}

.contact-form-ico {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 2;
    display: block;
    height: 22px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.site-contact span {
    display: block;
    font-size: 1.667em;
    color: rgb(32, 36, 59);
    line-height: 1.667;
    background-color: #FFFFFF;
    padding: 12px 0px 20px 0px;
    text-align: center;
}

.contact-form-submit {
    background-color: #a58f73;
    padding: 14px 10px;
    border-radius: 24px;
    border: 1px solid #a58f73;
    color: #ffffff;
    font-weight: bold;
    width: 292px;
    margin-bottom: 10px;

}

/*---------------------error--------------------*/
.site-error {
    background-image: url("/img/error-fon.png");
    background-position-x: right;
    background-position-y: -50px;
    background-repeat: no-repeat;
    height: 600px;
}

.error_404 {
    font-size: 200px;
    color: rgb(165, 143, 115);
    font-weight: bold;
    line-height: 0.8;
}

.site-error span {
    font-size: 2em;
    color: rgb(165, 143, 115);
}

.site-error p {
    font-size: 1.5em;
    color: rgb(40, 40, 40);
}

.site-error-back, .site-error-back:visited  {
    background-color: #000000;
    padding: 14px 20px;
    border-radius: 24px;
    border: 1px solid #000000;
    color: #ffffff;
    font-size: 1.33em;
    margin-top: 20px;
    height: 52px;
    width: max-content;
    display: block;
}

/*----------------------FAQ----------------------*/
.site-faq-list {
    border-radius: 20px;
    box-shadow: 0px 17px 46px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    background-color: #ffffff;
    padding: 40px !important;
}

.site-faq h3 {
    font-size: 2em;
    color: rgb(32, 36, 59);
    font-weight: bold;
    line-height: 1.2;
    background-color: #FFFFFF;
    padding: 15px 0px;
}

.faq-category {
    font-size: 1.5em;
    display: block;
    color: rgb(32, 36, 59);
    font-weight: bold;
    line-height: 1.2;
    background-color: #FFFFFF;
    margin: 15px 0px;
}

.faq-item {
    padding-left: 20px;
}

.faq-question {
    padding-left: 20px;
    position: relative;
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 6px;
}

.faq-question span {
    position: absolute;
    top: 12px;
    left: 2px;
    z-index: 2;
    display: block;
    height: 22px;

    text-align: center;
    pointer-events: none;
}

.faq-question p {
    font-size: 1.5em;
    color: rgb(32, 36, 59);
    line-height: 1.2;

}

.faq-answer {
    padding: 20px 0px 30px 20px;
    position: relative;
    border-top: 1px solid rgb(231, 231, 231);
    display: none;
}

.faq-answer p {
    font-size: 1.333em;
    color: rgb(71, 75, 98);
    line-height: 1.5;
}
/*-------------------site-project-----------------------*/
#site-project {
    background-image: url("/img/fon1.png");
    background-position-x: 0px;
    background-position-y: -150px;
    background-size: cover;
}

/*-------------------object-full-----------------------*/
.project-full, .object-full {
    padding-top: 20px;

}

.object-list-item {
    padding: 20px;
}

.object-block {
    margin-top: 30px;
}

.object-full-block {
    border-radius: 20px;
    box-shadow: 0px 17px 46px 0px rgba(0,0,0,0.1);
    background-image: url("/img/fon-object-full1.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;

}

.object-full-metro {
    font-weight: bold;
    color: rgb(32, 36, 59);
    font-size: 1.8333em;
    line-height: 1.2;
}

.object-full-etazh, .object-full-studio, .object-full-address, .object-full-price {
    font-weight: bold;
    color: rgb(32, 36, 59);
    font-size: 1.333em;
    line-height: 1.2;
}

.object-full-short_description {
    color: rgb(71, 75, 98);
    font-size: 1.5em;
    line-height: 1.778;
}

.object-full-studios h4 {
    font-size: 1.667em;
    color: rgba(32, 36, 59);
    font-weight: bold;
    line-height: 1.6;
}

.object-full-studios li {
    font-size: 1.333em;
    color: rgba(32, 36, 59);
    line-height: 1.875;
    list-style-image: url('/img/li-studio.png');
}

.object-full-description h1 {
    font-size: 1.5em;
    color: rgba(32, 36, 59);
    line-height: 1.778;
    font-weight: bold;
}

.object-full-description p {
    color: rgb(71, 75, 98);
    font-size: 1.5em;
    line-height: 1.778;
}

.object-full-description li {
    font-size: 1.5em;
    color: rgb(71, 75, 98);
    line-height: 1.778;
    list-style-image: url('/img/li.png');
}

.object-full-form {
    margin: 50px auto;
    width: 750px;
    text-align: center;
}

.object-full-form div {
    padding: 0px 0px;
}

.object-full-form h3 {
    font-size: 1.925em;
    color: rgb(71, 75, 98);
    padding-bottom: 35px;
}


.object-full-form input {
    border-width: 2px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-radius: 25px;
    padding: 24px;
    vertical-align: center;
}

.object-full-ico {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 2;
    display: block;
    height: 22px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.object-full-submit {
    background-color: #a58f73;
    padding: 15px 10px;
    border-radius: 24px;
    border: 1px solid #a58f73;
    color: #ffffff;
    font-weight: bold;
    width: 292px;
}

.studio-box {
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
    padding: 25px !important;

}

.work-item {
    padding: 10px 20px;
}

.work-item img {
    float: left;
    margin-right: 20px;
}

.work-item p {
    padding: 0px;
    font-size: 1.333em;
}

.article-description p {
    font-size: 1.333em;
    color: rgb(71, 75, 98);
    line-height: 1.5;
}

.get-catalog-input {
    padding: 20px 30px;
    border-radius: 30px;
    border: 1px solid #a58f73;
    font-weight: bold;
    width: 100%;
    font-size: 1.5em;
    height: 52px;
    background-color: transparent;
    color: rgba(182,192,210,0.5);
}

.get-catalog-input:focus {
    background-color: transparent;
}

.iagree span {
    font-size: 1.33em;
    color: #000000;
}

.get-catalog-submit {
    background-color: #a58f73;
    padding: 14px 0px;
    border-radius: 24px;
    border: 1px solid #a58f73;
    color: #ffffff;
    font-size: 1.33em;
    margin-bottom: 10px;
    height: 52px;
    width: 100%;
}

/*--------------block-instagram----------------------*/
#site-instagram {
    padding-top: 80px;
    background-repeat: no-repeat

}

.instagram-ico {
    display: block;
    position: absolute;
    right: 28px;
    bottom: 65px;
}

/*-------------block-object------------------*/
#site-block-object {
    background-image: url("/img/instagram-fone.png");
    padding-top: 80px;
    margin-top: 40px;
    background-repeat: no-repeat
}

/*-------------block-hot---------------------*/
#site-block-hot {
    background-image: url("/img/instagram-fone.png");
    padding-top: 80px;
    margin-top: 40px;
    background-repeat: no-repeat;
}

/*-------------block-work---------------------*/
#site-block-work {
    background-image: url("/img/instagram-fone.png");
    padding-top: 80px;
    margin-top: 40px;
    background-repeat: no-repeat;
}

/*-------------block-news---------------------*/
#site-block-news {
    background-image: url("/img/instagram-fone.png");
    padding-top: 80px;
    margin-top: 40px;
    background-repeat: no-repeat;
}

/*-----------------------post-nav*/
.post-nav {
    padding-top: 30px;
    color: #FFFFFF;
}
.post-nav-ico {
    border-radius: 50%;
    border: 1px solid rgb(165, 143, 115);
    font-size: 1.33em;
    padding: 12px;
    margin-left: 10px;
}
.post-nav-ico i {
    color: rgb(165, 143, 115);
}

.post-nav-ico:hover i {
    color: #FFFFFF;
}

.post-nav a:first-child {
    margin-left: 50px;
}

.post-nav-ico:hover{
    background-color: rgb(165, 143, 115);
    border: 1px solid rgb(165, 143, 115);;
    color: #FFFFFF;
}

.post-nav-all {
    margin-right: 100px;
    margin-left: 30px;
    font-size: 1.33em;
}

.post-nav-all:hover {
    color: #FFFFFF;
}

.investor-item {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 17px 46px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    background-color: rgb(53,58,86);
}

.investor-item-h {
    padding-top: 25px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.2;
    color: rgb(192,194,206);
    text-align: center;
}

.investor-item-p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.33em;
    line-height: 1.2;
    color: rgb(147,148,159);
    text-align: center;
}

.table-investor tr {
    height: 100px;
}

.table-investor {
    margin-bottom: 100px;
}

.table-investor td {
    border: 1px solid rgb(198,198,198);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.33em;
}

.table-investor th {
    border: 1px solid rgb(198,198,198);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(253,253,253);
}

.table-investor tr td:first-child {
    text-align: left;
}

.table-investor tr th:last-child, .table-investor tr td:last-child {
 background-color: rgb(165,143,115);
}

.investor-calc {
    border-radius: 20px;
    background-color: rgb(53,58,86);
    box-shadow: 0px 17px 46px 0px rgba(0,0,0,0.1);
}


.investor-calc input {
    border-radius: 22px;
    border: 1px solid rgb(165,143,115);
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    color: #FFFFFF;
    width: 250px;
}
.investor-calc input:focus {
    background-color: transparent;
}

.investor-calc button {
    border-radius: 22px;
    border: 1px solid rgb(165,143,115);
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(165,143,115);;
    color: #FFFFFF;
    width: 250px;
}

.slider.slider-horizontal {
 margin-top: 25px;
    width: 100%;
    height: 20px;
}
.slider-handle {
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%);
}

.slider-track-high, .slider-selection {
    background-color: rgb(165,143,115);
    background-image: linear-gradient(to bottom, rgb(165,143,115) 0%, rgb(165,143,115) 100%);
}

.slider.slider-horizontal .slider-track {
    height: 4px;
    width: 100%;
    margin-top: -2px;
    top: 50%;
    left: 0;
}
.badge1 {
    position: absolute;
    display: block;
    left: 10px;
    top: 45px;
}
.badge2 {
    position: absolute;
    display: block;
    right: 10px;
    top: 45px;
}

.investor-calc {
    padding: 50px 80px;
}

.calc-result {
    font-size: 1.5em;
    line-height: 1.667;
}

.investor-form-ico {
    position: absolute;
    top: 15px;
    right: 50px;
    z-index: 2;
    display: block;
    height: 22px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.calc-form input {
    width: 100%;
    border-width: 2px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-radius: 25px;
    padding: 24px;
    vertical-align: center;
}

.calc-form-submit {
    background-color: #a58f73;
    padding: 14px 10px;
    border-radius: 24px;
    border: 1px solid #a58f73;
    color: #ffffff;
    font-weight: bold;
    width: 292px;
    margin-bottom: 10px;

}

.get-calc-checkbox {
    width: 15px !important;
}